/* HEADER + NAV */
#header-line {
  margin-bottom: 20px;
  padding: 15px 30px;
  display: flex;
  justify-content: center;
  gap: 40px;
  border-bottom: 2px solid var(--highlight-light);
}

#header-line a {
  color: var(--header-line-anker);
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  position: relative;
  transition: color 0.3s ease;
}

#header-line a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 3px;
  left: 0;
  bottom: -6px;
  background: var(--highlight-dark);
  transition: width 0.3s ease;
}

#header-line a:hover::after { width: 100%; }

/* TOP BAR (Dark mode toggle + Search) */

#theme-toggle,
#random-button {
  margin-right: 10px; /* spacing between icons */
}
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 10px;
}
/* Dark Mode Moon Button */
#theme-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  background: none;
  cursor: pointer;
  margin-right: 10px;
  padding-left: 10px;
}
#theme-toggle svg:hover {
  fill: #4a4fff !important;
}
form {
  display: flex;
  width: 50%;
  max-width: 400px;
  position: relative;
  margin-left: auto; /* push to the right */
  align-items: center;
}
#anime-input {
  padding: 12px 20px;
  width: 100%;
  background: none;
  border: 2px solid gray;
  border-radius: 100px;
  font: inherit;
  color: var(--p-color);
  caret-color: var(--highlight-light);
  flex: 1;
}
#anime-input:focus {
  outline: none;
  border: 1px solid #6a5acd;
  box-shadow: 0 0 8px 2px rgba(106, 90, 205, 0.6);
  transition: all 0.2s ease-in-out;
}

#search-button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--highlight-light);
  padding: 0 25px;
  height: 100%;
  border: none;
  border-radius: 100px;
  font: inherit;
  font-weight: 600;
  color: white;
  cursor: pointer;
}
