/* Make anime card show play button when hover */
.play-overlay{
  position: absolute; inset:0;
  display:flex; flex-direction:column; 
  gap:12px;
  align-items:center;  
  justify-content:center;
  opacity:0; 
  z-index:2; 
  pointer-events:none;
  font-weight:600; font-size:1.7rem;
  color:#fff;
  transition:opacity .25s ease-in;
}
.play-overlay::before{
  content:""; 
  display:flex; align-items:center; justify-content:center;
  width:100px; height:100px; border-radius:50%;
  background-color:hsla(240, 100%, 65%, 0.70); /* Semi-transparent background */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23fff"><path d="M8 5v14l11-7z"/></svg>'); /* Embedded SVG */
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60px; /* Adjust the size of the play icon */
  box-shadow:0 8px 18px rgba(0,0,0,.25);
}
.anime-card-container a {
  position: relative; /* make overlay relative to the image (a) */
  display: inline-block;  
}

.anime-card-container a:hover .play-overlay{
  opacity:1;
  backdrop-filter: blur(2px);
}
/* RESPONSIVE */
@media (max-width: 500px) {
  .top-bar { display: block; margin-top: 10px; }
  form { width: 100%; margin-top: 15px; }
  h1 {
    font-size: 1.8rem;
    font-weight: 500;
    padding: 12px 5px;
    /* margin-top: 12px; */
  }
  #search-button {
    padding: 0 20px;
    border-radius: 100px;
    font-weight: 500;
  }
  .AnimeName {
      font-size: 1.3rem;
  }
  .anime-description {
      font-size: 12px
  }  
  ul li {
      font-size: 0.95rem;
  }
  .anime-card-container {
      padding: 2px;
      margin-bottom: 8px;
  }
  #anime-list {
      list-style: none;
      padding-left: 1.4rem; 
      margin: 0; 
  }       
  #links { 
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));   
    line-height: 2;
}
 .play-overlay{
      gap:8px;
      font-size:1.3rem;
} 
  .play-overlay::before{
      width:70px; height:70px;
      background-size: 40px; /* Adjust the size of the play icon */
} 
 .anime-card-container{
  box-shadow: none; 
  background-color: none;
  padding: 40px;
 }
 #anime-list {
      /*display: grid;
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
      gap: 20px;*/
      display: block;
      padding: 5px;
 }
#sub-top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 10px;
  
}
.CardEl{
  padding: 0;
}
.anime-card-container{
  padding: 0;
}

}


